body {
    margin: 0;
}


#highwallbg {
    background-image: url("highwallbg2.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#blackbg {
    opacity: .5;
    position: fixed;
    padding-left: 12%;
    z-index: -2;
    margin: 0%;
}

#back2top {
    font-family: OptimusPrinceps;
    font-size: 20px;
    text-decoration: underline;
    color: white;
    position: fixed;
    margin-top: 900px;
}

a:link{
    color: purple;
}

a:visited {
    color: purple;
}

a:hover {
    color:white;
}

#back2index {
    font-family: OptimusPrinceps;
    font-size: 20px;
    text-decoration: underline;
    color: white;
    position: fixed;
}

#back2firelink {
    font-family: OptimusPrinceps;
    font-size: 20px;
    text-decoration: underline;
    color: white;
    position: fixed;
    margin-top: 40px;
}

#back2settlement {
    font-family: OptimusPrinceps;
    font-size: 18px;
    text-decoration: underline;
    color: white;
    position: fixed;
    margin-top: 80px;
}

#back2swamp {
    font-family: OptimusPrinceps;
    font-size: 22px;
    text-decoration: underline;
    color: white;
    position: fixed;
    margin-top: 112px;
}

#highwallimg1 {
    position: absolute;
    right: 9%;
    top: 8%;
    border: 2px solid white;
    border-radius: 3%;
}

#vordtdoor {
        position: absolute;
        right: 9%;
        top: 55%;
        border: 2px solid white;
        border-radius: 3%;
}

#bannerpic {
    position: absolute;
        right: 9%;
        top: 102%;
        border: 2px solid white;
        border-radius: 3%;
}


/* Body */

#title {
    font-family: OptimusPrinceps;
    font-size: 35px;
    text-decoration: underline;
    color: white;
    position: absolute;
    left: 15%;
    top: 6%;
}

#paragraph {
    color: white;
    font-family: OptimusPrinceps;
    line-height: 30px;
    position: absolute;
    top: 20%;
    margin-left: 14%;
    width: 50%;
    word-spacing: 9px;
    font-size: 18px;
    text-shadow: 2px 2px black;
}

#paragraph2 {
    color: white;
    font-family: OptimusPrinceps;
    line-height: 30px;
    position: absolute;
    top: 80%;
    margin-left: 14%;
    width: 50%;
    word-spacing: 9px;
    font-size: 18px;
    text-shadow: 2px 2px black;
}

/* Vordt */

#vordttitle {
    font-family: OptimusPrinceps;
    font-size: 30px;
    text-decoration: underline;
    color: white;
    position: absolute;
    left: 15%;
    top: 165%;
}

#vordtpg {
    color: white;
    font-family: OptimusPrinceps;
    line-height: 30px;
    position: absolute;
    top: 199%;
    left: 40%;
    width: 50%;
    word-spacing: 9px;
    font-size: 18px;
    text-shadow: 2px 2px black;
    margin-bottom: 30px;
}

#vordtpic {
    position: absolute;
        left: 13%;
        top: 200%;
        border: 2px solid white;
        border-radius: 3%;
}

/* Soldier */

#soldierimg {
        position: absolute;
        left: 19%;
        top: 290%;
        border: 2px solid white;
        border-radius: 3%;
        margin-bottom: 150px;
}

#soldiertitle {
    font-family: OptimusPrinceps;
    font-size: 30px;
    text-decoration: underline;
    color: white;
    position: absolute;
    left: 18%;
    top: 270%;
}

#soldierpg {
    color: white;
    font-family: OptimusPrinceps;
    line-height: 30px;
    position: absolute;
    top: 295%;
    left: 40%;
    width: 50%;
    word-spacing: 9px;
    font-size: 18px;
    text-shadow: 2px 2px black;
    margin-bottom: 30px;
}

/* Knights */

#knightimg {
    position: absolute;
    left: 15%;
    top: 380%;
    border: 2px solid white;
    border-radius: 3%;
    margin-bottom: 150px;
}

#knighttitle {
    font-family: OptimusPrinceps;
    font-size: 30px;
    text-decoration: underline;
    color: white;
    position: absolute;
    left: 17%;
    top: 360%;
}

#knightpg {
    color: white;
    font-family: OptimusPrinceps;
    line-height: 30px;
    position: absolute;
    top: 380%;
    left: 40%;
    width: 50%;
    word-spacing: 9px;
    font-size: 18px;
    text-shadow: 2px 2px black;
    margin-bottom: 30px;
}  

/* Pilgrim */

#pilgrimimg {
    position: absolute;
    left: 15%;
    top: 475%;
    border: 2px solid white;
    border-radius: 3%;
    margin-bottom: 150px;
}

#pilgrimtitle {
    font-family: OptimusPrinceps;
    font-size: 30px;
    text-decoration: underline;
    color: white;
    position: absolute;
    left: 17%;
    top: 440%;
}

#pilgrimpg {
    color: white;
    font-family: OptimusPrinceps;
    line-height: 30px;
    position: absolute;
    top: 460%;
    left: 40%;
    width: 50%;
    word-spacing: 9px;
    font-size: 18px;
    text-shadow: 2px 2px black;
    margin-bottom: 30px;
}